@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

.language-image {
  cursor: pointer;
}

.interest {
	font-size: 12pt;
	font-weight: 500;
}

.interest {
  margin-top: 8px;
}

.sub {
	font-weight: 300;
}

.interval {
  text-align: right;
}

.language-image:not(.current) {
  opacity: 0.5;
}

.social-link {
  color: #000;
}

nav, .toolbar {
  background-color: #3f51b5;
  color: #000;
  height: 64px;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  transform: none;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

nav ul {
  list-style-type: none;
  text-align: right;
  padding-left: 0px;
}

nav ul li {
  display: inline-block;
  padding: 24px;
}

nav li a {
  text-decoration: none;
  color: #fff;
  font-size: 12pt;
  padding: 12px 0 12px 0;
  font-family:'Roboto', sans-serif;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background: #fff;
  border-radius: 2px;
  padding: 32px;
}

.card-1:not(:first) {
  margin-top: 16px;
}

.card-header {
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
}

.card-1:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

body {
  background-color: #ddd;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 39px;
  line-height: 44px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
}

h3 {
  font-size: 16pt;
  line-height: 30px;
  font-weight: 400;
}

h4 {
  font-size: 14pt;
  line-height: 24px;
  font-weight: 500;
}

h5 {
  font-size: 11pt;
  line-height: 20px;
  font-weight: 500;
}

h6 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

p {
  font-family:'Roboto', sans-serif;
  font-size: 12pt;
  line-height: 23px;
  font-weight: 300;
  letter-spacing: 0px;
}

.title {
  font-family:'Roboto', sans-serif;
  font-size: 24pt;
  font-weight: 400;
  text-align: center;
}

.sub-title {
  text-align: center;
  margin-bottom: 32px;
}

.contacts-container {
  display: inline-block;
}

.language-container {
  float: right;
  display: inline-block;
  text-align: right;
}

.title-image {
  display: block;
  margin-top: -92px;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: black 3px 3px 12px -1px;
  width: 120px;
  height: 120px;
}

.main {
  margin-top: 120px;
  margin-bottom: 16px;
}

.main-p {
  display: block;
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  text-align: justify;
}

.holder {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.main {
  width: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.projects, .resume, .interests {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.personal-project:not(:last-child) {
  margin-bottom: 48px;
}

.project-header {
  font-family:'Roboto', sans-serif;
  font-size: 15pt;
  font-weight: 400;
}

.project-description {
  text-align: justify;
  margin-bottom: 8px;
}

.low-res {
  display: none;
}

.language-image {
  display: inline-block;
  margin-right: auto;
  margin-left: 11px;
  box-shadow: 1px 1px 3px 0px #353535;
}

.social-link {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.github-button {
  display: inline-block;
}

.job-container:not(:last-child) {
  margin-bottom: 48px;
}

.activities-header {
  margin-top: 16px;
}

.activities {
  margin-top: 8px;
}

@media (max-width: 991px) {
  h3 {
    float: none;
  }

  .main {
    width: 75%;
  }

  .interval {
    text-align: left;
  }
}

@media (max-width: 767px) {
  nav, .toolbar {
    height: 56px;
  }

  nav li a {
    font-size: 10.5pt;
    padding: 0px 0 0px 0;
  }

  nav ul li {
    display: inline-block;
    padding: 18px 4px 18px 4px;
  }

  h3 {
    float: none;
  }

  .owl-prev {
    display: inline-block;
    float: left;
  }

  .owl-next {
    display: inline-block;
    float: right;
  }

  .title {
    font-size: 21pt;
  }

  .title-image {
    margin-top: -72px;
    width: 80px;
    height: 80px;
  }

  .github-button {
    display: table-cell;
  }

  .main-p {
    width: 100%;
  }

  .main {
    width: 95%;
  }

  .project-header.inner-slide {
    display: block;
    padding-right: 16px;
    padding-left: 16px;
    text-align: center;
  }

  .project-description.inner-slide-description {
    padding-right: 8px;
    padding-left: 8px;
  }

  .project-description.phone {
    display: none;
  }

  .low-res {
    display: block;
  }

  .high-res {
    display: none;
  }

  .inner-slide {
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .center {
    display: table;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .toolbar {
    display: table;
  }

  .toolbar .menu {
    color: white;
    font-size: 28px;
    padding-left: 16px;
    display: table-cell;
    vertical-align: middle;
  }

  .toolbar .menu:before {
    content:'\2630';
  }

  nav ul li {
    display: block;
    text-align: left;
    padding: 0px;
  }

  nav ul li a {
    color: #000;
    display: inline-block;
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid #ddd;
  }

  /* navigation */
  nav {
    height: 100%;
    width: 280px;
    margin-top: 56px;
    background-color: #fff;
    left: 0;
    top: 0;
    z-index: 2;
    position: fixed;
    overflow-y: auto;
    overflow-x: visible;
    transform: translate(-280px,0);
  }

  /* overlay layer */
  .ssm-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    display: none;
    z-index: 1;
  }

  /* prevent scroll when nav is open */
  .is-navOpen {
    overflow: hidden;
  }
}

@media (max-width: 479px) {
  .button {
    width: 100%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .social-widget-wrapper {
    display: block;
    width: 194px;
    margin-right: auto;
    margin-left: auto;
  }

  .copyright {
    text-align: center;
  }

  .title-image {
    float: none;
  }

  .main-p {
    width: 100%;
  }

  .project-description.tablet {
    display: none;
  }

  .project-description.phone {
    display: block;
  }
}
