.more {
    cursor: pointer;
}

.language-image {
  cursor: pointer;
}

.interest {
	font-size: 16px;
	font-weight: bolder;
    margin-top: 10px;
}

.sub {
	font-weight: normal;
}

.interval {
    text-align: right;
}

.language-image:not(.current) {
    opacity: 0.5;   
}

.social-link {
    color: #fff;
}

.w-slider {
    height: 350px;
}

@media screen and (max-width: 991px) {
    .interval {
        text-align: left;
    }
    
    .interest {
        text-align: center;
    }
}
