<!DOCTYPE html>
<html ng-app="root">
  <head>
    <meta charset="utf-8" />
    <title>Wakim Jraige</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="stylesheet" type="text/css" href="bower_components/owl.carousel/dist/assets/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/normalize.css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/fontawesome/css/font-awesome.min.css" />

    <link rel="stylesheet" type="text/css" href="css/webflow.css" /> 
    <link rel="stylesheet" type="text/css" href="css/wakim-jraige.webflow.css" /> 
    <link rel="stylesheet" type="text/css" href="css/app.css" /> 
    
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
  </head>
  <body ng-controller="main">
    <div class="header-main-section">
      <header class="header">
        <section class="w-container title-container">
          <img class="title-image" src="images/time-wakim.jpg" alt="Me">
          <h1 class="title">Wakim Jraige</h1>
          <a class="w-inline-block here" onclick="return false;">
            <img width="16" height="11" class="language-image pt-br{{currentLang === 'pt' ? ' current' : ''}}" ng-click="setLocale('pt')" src="images/br.png" alt="Português do Brasil">
          </a>
          <a class="w-inline-block here" onclick="return false;">
            <img width="16" height="11" class="language-image en{{currentLang === 'en' ? ' current' : ''}}" ng-click="setLocale('en')" src="images/us.png" alt="Inglês">
          </a>
        </section>
      </header>
      
      <noscript>
        <style type="text/css">
          .main {
            display: none;
          }
        </style>
        <h3 style="color: #fff; text-align: center; margin-top: 8px; position: relative; top: 60px;">No Javascript, so visit <a style="color: #fff;" href="http://br.linkedin.com/in/wakimjraige">my Linkedin profile.</a></h3>
      </noscript>
      
      <main class="main card-1" class="ng-cloak">
        <section class="resume">
          <p class="main-p w-row" ng-bind-html="resume | trustHtml"></p>

          <div class="w-clearfix holder">
            <span class="more" ng-click="toggleMore()">{{more}}...</span>
          </div>
  
          <section class="experiences more-wrapper" id="more-wrapper">
            <div class="w-row">
              <div class="w-col w-col-stack">
                <h3><i class="fa fa-briefcase"></i> {{strings.Experiences}}</h3>
              </div>
            </div>
            
            <div class="w-row" ng-repeat="job in jobs">
              <div class="w-col w-col-stack w-col-8">
                <h4>{{job.location}}</h4>
              </div>
              <div class="w-col w-col-stack w-col-4">
                <h5 class="interval"><i class="fa fa-calendar" style="margin-right: 8px;"></i>{{job.interval.from}} - {{job.interval.to}}</h5>
              </div>
              <div class="w-col w-col-stack">
                <p class="main-p" style="margin-top: 0px; padding-left: 0px;" ng-bind-html="job.desc | trustHtml"></p>
              </div>
            </div>
          </section>
        </section>
  
        <section class="interests">
          <div class="w-row">
            <div class="w-col w-col-stack">
              <h3><i class="fa fa-code"></i> {{strings.Some_interests}}</h3>
            </div>
          </div>
          <div class="w-row">
            <div ng-repeat="interest in globals.interests" class="w-col w-col-stack w-col-12 interest">
              {{interest.name}}
              <span ng-if="interest.sub">
                (<span ng-repeat="sub in interest.sub" class="sub">{{sub}}{{$last ? '' : ', '}}</span>)
              </span>
            </div>
          </div>
        </section>
        
        <section class="projects">
          <div class="w-row">
            <div class="w-col w-col-4 w-col-stack">
              <h3><i class="fa fa-terminal"></i> {{strings.Personal_Projects}}</h3>
            </div>
            
            <div class="w-col w-col-12 w-col-stack">
              <div class="low-res">
                <div class="owl-carousel owl-theme">
                    <div ng-repeat="project in personal_projects">
                      <h4 class="project-header inner-slide">{{project.name}}</h4>
                      <p style="text-align: center;">
                        <i ng-repeat="fa_icon in project.fa_icons" class="fa {{fa_icon}}" style="padding-right: 8px; padding-left: 8px;"></i>
                      </p>
                      <p class="project-description inner-slide-description phone" ng-bind-html="project.desc | trustHtml"></p>
                      <p class="project-description inner-slide-description tablet" ng-if="project.more_desc" ng-bind-html="project.more_desc | trustHtml"></p>
                      <div class="center" style="margin-top: 8px;">
                        <a class="w-inline-block" ng-if="project.google_play_link" ng-href="{{project.google_play_link}}" target="_blank">
                          <img width="130" height="45" ng-src="{{strings.google_play_badge_link}}" alt="{{strings.google_play_badge_alt}}">
                        </a>
                        <div class="w-embed w-iframe github-button" ng-if="project.github_source">
                          <iframe ng-src="{{project.github_source | trustUrl}}" height="30" width="100" frameborder="0" scrolling="0" style="width:100px; position: relative;top: 10px;height: 30px;" allowTransparency="true"></iframe>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              
              <ul class="high-res" style="padding-left: 24px;">
                <li ng-repeat="project in personal_projects" style="margin-bottom: 16px;">
                  <h4 class="project-header">{{project.name}}</h4>
                  <p><i ng-repeat="fa_icon in project.fa_icons" style="padding-right: 8px; {{$first ? '' : 'padding-left: 8px;'}}'" class="fa {{fa_icon}}"></i></p>
                  <p class="project-description" ng-bind-html="(project.desc + '<br />' + project.more_desc) | trustHtml"></p>
                  <a class="w-inline-block" ng-href="{{project.google_play_link}}" target="_blank" data-ix="new-interaction-2" ng-if="project.google_play_link">
                    <img width="130" height="45" ng-src="{{strings.google_play_badge_link}}" alt="{{strings.google_play_badge_alt}}">
                  </a>
                  <div class="w-embed w-iframe github-button" ng-if="project.github_source">
                    <iframe ng-src="{{project.github_source | trustUrl}}" height="30" width="100" frameborder="0" scrolling="0" style="width:100px; position: relative;top: 10px;height: 30px;" allowTransparency="true"></iframe>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </main>
    </div>
    
    <footer class="footer-section">
      <div class="w-container">
        <div class="w-row">
          <div class="social-widget-wrapper">
            <a class="w-inline-block social-link here" href="#" id="mail">
              <i class="fa fa-fw fa-envelope-o"></i>
            </a>
            <a class="w-inline-block social-link" href="https://plus.google.com/+WakimJraige" target="_blank">
              <i class="fa fa-google-plus"></i>
            </a>
            <a class="w-inline-block social-link" href="http://br.linkedin.com/in/wakimjraige" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
            <a class="w-inline-block social-link" href="http://pt.stackoverflow.com/users/6436/wakim" target="_blank">
              <i class="fa fa-stack-overflow"></i>
            </a>
            <a class="w-inline-block social-link" href="https://github.com/wakim" target="_blank">
              <i class="fa fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="js/app.js?v=2"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-29862067-3', 'wakimjraige.com');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>
  </body>
</html>
