<!DOCTYPE html>
<html ng-app="root">
  <head>
    <meta charset="utf-8" />
    <title>Wakim Jraige</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="Site pessoal de Wakim Jraige" />

    <meta name="twitter:card" content="Site pessoal de Wakim Jraige">
    <meta name="twitter:site" content="@wakimjraige">
    <meta name="twitter:title" content="Wakim Jraige">
    <meta name="twitter:description" content="Site pessoal de Wakim Jraige. Desenvolvedor Android e Web.">
    <meta name="twitter:creator" content="@wakimjraige">

    <meta name="twitter:image" content="http://www.wakimjraige.com/images/time-wakim.jpg">

    <meta property="og:title" content="Site pessoal de Wakim Jraige" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.wakimjraige.com" />
    <meta property="og:image" content="http://www.wakimjraige.com/images/time-wakim.jpg" />
    <meta property="og:description" content="Site pessoal de Wakim Jraige. Desenvolvedor Android e Web." />
    <meta property="og:site_name" content="Site pessoal de Wakim Jraige" />
    <meta property="fb:admins" content="10150979369546009" />

    <link rel="stylesheet" type="text/css" href="bower_components/normalize.css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/fontawesome/css/font-awesome.min.css" />

    <link rel="stylesheet" type="text/css" href="css/webflow-min.css" />
    <link rel="stylesheet" type="text/css" href="css/app-min.css" />

    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angularjs/angular.min.js"></script>
  </head>

  <noscript>
    <style type="text/css">
      .main {
        display: none;
      }
    </style>
    <h3 style="color: #fff; text-align: center; margin-top: 8px; position: relative; top: 60px;">No Javascript, visit <a style="color: #fff;" href="http://br.linkedin.com/in/wakimjraige">, access my LinkedIn profile.</a></h3>
  </noscript>

  <body ng-controller="main" class="ng-cloak" ng-cloak>
    <nav>
      <ul>
        <li><a href="#resume">{{strings.resume}}</a></li>
        <li><a href="#contacts">{{strings.contacts}}</a></li>
        <li><a href="#exp">{{strings.experiences}}</a></li>
        <li><a href="#skills">{{strings.some_interests}}</a></li>
        <li><a href="#projects">{{strings.personal_projects}}</a></li>
      </ul>
    </nav>

    <div class="toolbar low-res">
      <span class="menu ssm-toggle-nav">
      </span>
    </div>

    <main class="main">
      <section class="w-container contacts-container">
      </section>

      <section class="w-container language-container">
        <a class="w-inline-block here" onclick="return false;">
          <img width="16" height="11" class="language-image pt-br{{currentLang === 'pt' ? ' current' : ''}}" ng-click="setLocale('pt')" src="images/br.png" alt="Português do Brasil">
        </a>
        <a class="w-inline-block here" onclick="return false;">
          <img width="16" height="11" class="language-image en{{currentLang === 'en' ? ' current' : ''}}" ng-click="setLocale('en')" src="images/us.png" alt="Inglês">
        </a>
      </section>

      <section class="resume card-1">
        <img class="title-image" id="resume" src="images/time-wakim.jpg" alt="Me" />
        <h1 class="title">Wakim Jraige</h1>
        <p class="sub-title w-row" ng-bind-html="school | trustHtml"></p>
        <p class="main-p w-row" ng-bind-html="resume | trustHtml"></p>
      </section>

      <div class="w-row card-header">
        <div class="w-col w-col-stack">
          <h3 id="contacts"><i class="fa fa-user card-header-icon"></i> {{strings.contacts}}</h3>
        </div>
      </div>

      <section class="contacts card-1">
        <a href="mailto:{{email}}" target="_blank"><i class="fa fa-envelope-o"></i> {{email}}</a><br />
        <a href="https://plus.google.com/+WakimJraige" target="_blank"><i class="fa fa-google-plus"></i> +WakimJraige</a><br />
        <a href="http://br.linkedin.com/in/wakimjraige" target="_blank"><i class="fa fa-linkedin"></i> LinkedIn</a><br />
        <a href="https://pt.stackoverflow.com/users/6436/wakim" target="_blank"><i class="fa fa-stack-overflow"></i> StackOverflow</a><br />
        <a href="https://github.com/wakim" target="_blank"><i class="fa fa-github"></i> Github</a><br />
        <a href="https://twitter.com/wakimjraige" target="_blank"><i class="fa fa-twitter"></i> Twitter</a>
      </section>

      <div class="w-row card-header">
        <div class="w-col w-col-stack">
          <h3 id="exp"><i class="fa fa-briefcase card-header-icon"></i> {{strings.experiences}}</h3>
        </div>
      </div>

      <section class="experiences card-1">
        <div class="w-row job-container" ng-repeat="job in jobs">
          <div class="w-col w-col-stack w-col-8">
            <h4>{{job.location}}</h4>
          </div>
          <div class="w-col w-col-stack w-col-4">
            <h5 class="interval"><i class="fa fa-calendar" style="margin-right: 8px;"></i>{{job.interval}}</h5>
          </div>
          <div class="w-col w-col-stack">
            <p class="main-p" style="margin-top: 0px; padding-left: 0px;" ng-bind-html="job.desc | trustHtml"></p>
          </div>
          <div class="w-col w-col-stack">
            <h5 class="activities-header">{{strings.main_activities}}</h5>
            <ul class="activities">
              <li ng-repeat="activity in job.activities" class="activity">{{activity}}</li>
            </ul>
        </div>
      </section>

      <div class="w-row card-header">
        <div class="w-col w-col-stack">
          <h3 id="skills"><i class="fa fa-code card-header-icon"></i> {{strings.some_interests}}</h3>
        </div>
      </div>

      <section class="interests card-1">
        <div class="w-row">
          <div ng-repeat="interest in globals.interests" class="w-col w-col-stack w-col-12 interest">
            {{interest.name}}
            <span ng-if="interest.sub">
              (<span ng-repeat="sub in interest.sub" class="sub">{{sub}}{{$last ? '' : ', '}}</span>)
            </span>
          </div>
        </div>
      </section>

      <div class="w-row card-header">
        <div class="w-col w-col-stack">
          <h3 id="projects"><i class="fa fa-terminal card-header-icon"></i> {{strings.personal_projects}}</h3>
        </div>
      </div>

      <section class="projects card-1">
        <div class="w-row">
          <div class="w-col w-col-12 w-col-stack">
            <div class="low-res">
              <div class="owl-carousel owl-theme">
                  <div ng-repeat="project in personal_projects">
                    <h4 class="project-header inner-slide">{{project.name}}</h4>
                    <p style="text-align: center;">
                      <i ng-repeat="fa_icon in project.fa_icons" class="fa {{fa_icon}}" style="padding-right: 8px; padding-left: 8px;"></i>
                    </p>
                    <p class="project-description inner-slide-description" ng-bind-html="project.desc | trustHtml"></p>
                    <p class="project-description inner-slide-description" ng-if="project.more_desc" ng-bind-html="project.more_desc | trustHtml"></p>
                    <div class="center" style="margin-top: 8px;">
                      <a class="w-inline-block" ng-if="project.google_play_link" ng-href="{{project.google_play_link}}" target="_blank">
                        <img width="130" height="45" ng-src="{{strings.google_play_badge_link}}" alt="{{strings.google_play_badge_alt}}">
                      </a>
                      <div class="w-embed w-iframe github-button" ng-if="project.github_source">
                        <iframe ng-src="{{project.github_source | trustUrl}}" height="30" width="100" frameborder="0" scrolling="0" style="width:100px; position: relative;top: 10px;height: 30px;" allowTransparency="true"></iframe>
                      </div>
                    </div>
                  </div>
              </div>
            </div>

            <ul class="high-res" style="padding-left: 0px; list-style-type: none;">
              <li class="personal-project" ng-repeat="project in personal_projects">
                <h4 class="project-header">{{project.name}}</h4>
                <p><i ng-repeat="fa_icon in project.fa_icons" style="padding-right: 8px; {{$first ? '' : 'padding-left: 8px;'}}'" class="fa {{fa_icon}}"></i></p>
                <p class="project-description" ng-bind-html="(project.desc + '<br />' + project.more_desc) | trustHtml"></p>
                <a class="w-inline-block" ng-href="{{project.google_play_link}}" target="_blank" data-ix="new-interaction-2" ng-if="project.google_play_link">
                  <img width="130" height="45" ng-src="{{strings.google_play_badge_link}}" alt="{{strings.google_play_badge_alt}}">
                </a>
                <div class="w-embed w-iframe github-button" ng-if="project.github_source">
                  <iframe ng-src="{{project.github_source | trustUrl}}" height="30" width="100" frameborder="0" scrolling="0" style="width:100px; position: relative;top: 10px;height: 30px;" allowTransparency="true"></iframe>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </main>

    <div class="ssm-overlay ssm-toggle-nav low-res"></div>

    <script>
      var mq = window.matchMedia("(max-width: 767px)");

      if (mq.matches) {
        document.write('<script type="text/javascript" src="bower_components/slide-and-swipe-menu/jquery.slideandswipe.min.js"><\/script>');
        document.write('<script type="text/javascript" src="bower_components/jquery-touchswipe/jquery.touchSwipe.min.js"><\/script>');

        document.write('<script type="text/javascript" src="bower_components/owl.carousel/dist/owl.carousel.min.js"><\/script>');
        document.write('<link type="text/css" rel="stylesheet" href="bower_components/owl.carousel/dist/assets/owl.carousel.min.css" />');
      }
    </script>
    <script type="text/javascript" src="js/app.js?v=5"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-29862067-3', 'wakimjraige.com');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>
  </body>
</html>
